*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}


.app{
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    padding-bottom: 20px;
    align-items: center;
    background-image:url('background.jpg') ;
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100vh;
    height: auto;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.container_input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.form_input{
    background-color: white ;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    min-height: 220px;
    box-shadow: 0px 0px 56px rgba(22, 22, 22, 0.2);
}

.input_file{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 10px;
    input{
        display: none;
    }
    .select_file{
        width: 200px;
        font-size: 15px;
        padding: 20px 0px;
        display: block;
        border: 1px dotted #19bd5a;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
            border-color: #19bd5a;
            color: #19bd5a;
        }
    }
    
}


.select_type{
    margin-bottom: 10px;
    width: 100%;
    display: flex  ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    select{
        display: block;
        width: 200px;
        text-align: center;
        padding: 5px 10px;
        font-size: 15px;
        border-radius: 5px;
        border: 1px solid #19bd5a;
        outline: none;
        cursor: pointer;
    }
}

.valid{
    color: red;
    font-size: 15px;
    margin-bottom: 10px;
}


.btn_click{
    padding: .5rem ;
    cursor: pointer;
    --tw-bg-opacity: 1 ;
    background-color: #19bd5a ;
    width: 40%;
    border-radius: 9999px;
    text-align: center;
    font-size: 16px;
    color: white;
    outline: none;
    border: none;
    text-transform:capitalize;
    &:hover{
        opacity: 0.85;
    }
}


.container_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.chart{
    text-transform: capitalize;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite;
    margin-bottom: 20px;
}
.loader::before , .loader::after {
content: "";
box-sizing: border-box;
position: absolute;
inset: 0px;
border-radius: 50%;
border: 5px solid #19bd5a;
animation: prixClipFix 2s linear infinite ;
}
.loader::after{
border-color: #FF3D00;
animation: prixClipFix 2s linear infinite , rotate 0.5s linear infinite reverse;
inset: 6px;
}

@keyframes rotate {
0%   {transform: rotate(0deg)}
100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

table{
    width: 100%;
    margin-bottom: 40px;
    border: 1px solid #19bd5a;
    border-spacing: 0;
}
td{
    padding: 5px;
    text-align: center;
    background-color: #f0f0f0;
    border-top: 1px solid #19bd5a;
}
th{
    padding: 5px;
    background-color: #f0f0f0;
    text-transform: capitalize;
}
th,td{
    border-left: 1px solid #19bd5a;
    &:first-child{
        border-left: none !important;
    }
}
.pagination{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 5px;
    li{
        a{
        font-size: 16px;
        display: flex;
        align-items: center; 
        justify-content: center; 
        width: 28px;
        height: 28px;
        cursor: pointer;
        border-radius: 99999px;
        color: #918c8c;
        &:hover{
            background-color: #19bd5a;
            color: white;
        }
        }
    }
    .active{
        a{
            background-color: #19bd5a;
            color: white;
        }
    }
}
.disabled{
    pointer-events: none;
    opacity: 0.7;
}